In [83]:
import pandas as pd

In [85]:
movies_stats = pd.read_csv(r'C:\Users\Dasha\Final\movies_stats.csv') # загружаем файл
movies_stats.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [87]:
years = list(range(1950, 2011)) # в переменную years записываем список из всех годов с 1950-го по 2010-й
years[:10]

[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959]

In [89]:
def production_year(title): # функция, которая каждой строке из названия фильма выставляет год выпуска (год выпуска берём из столбца title).
    for year in years:
        if str(year) in title:
            return year
    return 1900 # если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

In [91]:
movies_stats['year'] = movies_stats['title'].apply(production_year) # записываем год выпуска фильма в новый столбец ‘year’
movies_stats.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989

In [93]:
movies_stats_result = movies_stats.groupby('year').agg({'rating' : 'mean'}) # посчитаем средний рейтинг всех фильмов для каждого значения столбца ‘year’
movies_stats_result

        rating
year
1900  3.602960
1950  3.915254
1951  3.983539
1952  4.000000
1953  3.754587
...        ...
2006  3.511478
2007  3.548538
2008  3.498057
2009  3.520378
2010  3.537157

[62 rows x 1 columns]

In [95]:
movies_stats_result_sorted = movies_stats_result.sort_values(by='rating', ascending=False) # отсортируем результат по убыванию рейтинга
print(movies_stats_result_sorted.head(60))

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
1974  3.978704
1962  3.952446
1950  3.915254
1977  3.905786
1964  3.841492
1959  3.841033
1958  3.823171
1975  3.823077
1969  3.817376
1967  3.814516
1960  3.809211
1976  3.806794
1973  3.806667
1979  3.777966
1981  3.758763
1953  3.754587
1955  3.751724
1971  3.748830
1968  3.737844
1966  3.736726
1980  3.708816
1963  3.705966
1970  3.700000
1965  3.678715
1961  3.663851
1983  3.657635
1984  3.651486
1982  3.638306
1991  3.628265
1956  3.617647
1987  3.606015
1900  3.602960
1985  3.588998
1988  3.552990
1978  3.549003
2007  3.548538
1994  3.537963
2010  3.537157
1993  3.536664
1989  3.534349
1986  3.528265
2009  3.520378
2006  3.511478
2008  3.498057
2004  3.491490
1998  3.472754
1995  3.472118
1999  3.471692
1992  3.466754
2001  3.460052
2002  3.456297
1990  3.449169
2005  3.448434
2003  3.444777
1996  3.426600